*/babel/*.json
.idea
.vscode
*__pycache__*
*.egg-info
outputs/*
output/*
rendered_images/*
*tmp*
results/*
exps/*
.DS_Store
**/.DS_Store
wandb/*
newton_source/*
data/amass/*.pkl
.claude/*
!.claude/commands/
.cursor/
renders/

isaacgym/
r2

pilot_1024_motions.json
client_secret_840517100423-t5fpdd3ejarg5emaqnttu064k3r03a6p.apps.googleusercontent.com.json
rclone